@import "stylesheet.scss";

.home {
  color: white;
  text-align: center;
  margin: 0 50px;

  .hero {
    video {
      width: 100%;
      height: 90vh;
      border: none;
      overflow: hidden;
      object-fit: cover;
      object-position: bottom;
    }
  }
}

@media (max-width: $bs-breakpoint-md) {
  .home {
    .hero {
      .hero-container {
        position: relative;
        width: 100%;
        height: 85vh; 
        overflow: hidden;

        video {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100vh;
          width: 100vw;
          z-index: -1;
        }
      }
    }
  }
}

@media (max-width: $bs-breakpoint-sm) {
  .home {
    min-height: 50vh;

    .hero {
      .hero-container {
        position: inherit;
        width: 100%;
        height: auto;
      }
    }
  }
}
