@import "stylesheet.scss";

.home {
  color: white;

  .hero {
    .hero-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;

      .hero-video {
        display: none;

        &.desktop {
          display: block;
          width: 100%;
          height: 100vh;
          border: none;
          object-fit: cover;
          object-position: center;
        }

        &.mobile {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $bs-breakpoint-md) {
  .home {
    .hero {
      .hero-container {
        height: 100vh;

        .hero-video {
          &.desktop {
            display: none;
          }

          &.mobile {
            display: block;
            position: absolute;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $bs-breakpoint-sm) {
  .home {
    .hero {
      .hero-container {
        height: 100svh;
      }
    }
  }
}
